
.game img{
    width: 40%;
    border: solid 1px #b6b6b6;
}
.cycling img{
    width: 40%;
    border: solid 1px #b6b6b6;
}
.drow img{
    height: 30%;
    width: 30%;
    border: solid 1px #b6b6b6;
}
.unity img{
    width: 40%;
    border: solid 1px #b6b6b6;
}
.hobby{ /* 全体デザイン */
    background-color: #ededed;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #b6b6b6;
}
p{ /*読みやすく*/
    margin-top: 5px;
}
.window-page{ /*もくじ*/
    margin-left: 10px;
    margin-right: 10px;
}