#MyIconImage{
    width: 20%;
}
.intro{ /* 全体デザイン */
    background-color: rgb(237, 237, 237);
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #b6b6b6;
}
p{ /*読みやすく*/
    margin-bottom: 5px;
}
.page-up-button{/*トップページボタン*/
    width: 10vw;
    position: fixed; bottom: 5%; right: 0;
}
.page-up-button{/*トップページボタン*/
    width: 10vw;
    position: fixed; bottom: 5%; right: 0;
}
img {
    width: 50%;
    height: 50%;
}